{{!--
  Layout Template: main.hbs
  Purpose: Serves as the primary layout for the entire website/application.
           This layout defines the common HTML structure and includes 
           placeholders for page-specific content.
  Global Components:
    - Header ({{> header}}): Included at the top of every page.
  Placeholders:
    - {{{body}}}: A placeholder where the content of the individual page templates
                 will be injected.
  Stylesheets and Scripts:
    - Bootstrap for styling.
    - Custom stylesheets (styles.css).
    - Bootstrap JS for interactive components.
--}}
<!DOCTYPE html>
<html>

<head>
  {{!-- Bootstrap CSS--}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/style.css">
  {{!-- Character Set --}}
  <meta charset="utf-8">
  {{!-- Page title --}}
  <title>PrepPal</title>
  {{!-- Favicon --}}
  <link rel="icon" href="/images/brain.png" type="image/png">
</head>

<body>
  {{!-- Header placeholer --}}
  {{> header}}
  {{!-- Page content placeholder --}}
  {{{body}}}
  {{!-- Bootstrap JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>