<ul class="list-unstyled">
    {{#each classes}}
    <li>
        <div class="class-block rounded border-color-{{@index}}" onclick="window.location='/student/course?classCode={{this.classCode}}'">
            <h3>{{this.name}}</h3>
            <p>{{this.professor}}</p>
        </div>
    </li>
    {{/each}}
</ul>