<ul class="list-unstyled">
    {{#each topics}}
    <li>
        <div class="class-block rounded border-color-{{modulo @index 5}}"
            onclick="navigate('/student/topic?topic={{this.name}}&classCode={{../classCode}}')">
            <h3>{{this.name}}</h3>
        </div>
    </li>
    {{/each}}
</ul>
<script>
    clicked = false
    function navigate(endpoint){
        if (clicked)
        return;

        window.location=endpoint
        clicked=true

    }
</script>