<script src="/scripts/chatwindow.js" defer></script>
<div class="container" style="height: 90vh;">
    <div class="question-div">
        <div class="d-flex justify-content-between align-items-start">
            <p>{{question}}</p>
            <button class="btn image-btn" onclick="toggleChat()">
                <img src="/images/question.png" alt="Button Image" />
            </button>
        </div>
        <textarea class="form-control"></textarea>
        <button class="btn btn-primary send-btn" onclick="submit()">Submit</button>
        <p></p>
    </div>
    <div class="d-flex justify-content-end">
        <button hidden class="btn skip-btn">Skip</button>
    </div>

    <!-- Chat Area -->
    <div class="chat-area">
        <div class="chat-messages" id="chat-messages">
            <!-- Messages will appear here -->
        </div>
        <input id="question-text" type="text" class="chat-input form-control" placeholder="Type your message...">
        <button class="btn btn-primary send-btn" onclick="sendQuestion()">Send</button>
    </div>
</div>

<script>
    async function sendQuestion(){
        const QUESTION_ENDPOINT = "/student/ask-question"
        const question = document.getElementById('question-text').value
        document.getElementById('question-text').value = ""
        
        const questionsDiv = document.getElementById("chat-messages")

        let p = document.createElement("p")
        p.innerText = `Me: ${question}`;
        questionsDiv.appendChild(p);
        
        const response = await $.post(QUESTION_ENDPOINT, { question: question})

        p = document.createElement("p")
        p.innerText = `PrepPal: ${response}`
        questionsDiv.appendChild(p)

    }
</script>