<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/scripts/bot-chat.js"></script>
<body>
    <div>
        <div class="question-div">
            <p>{{question}}</p>
            <input type="text">
            <button onclick="submit()">submit</button>
            <p></p>
        </div>
    </div>

</body>