<div class="container no-scroll-page">
    <div class="question-div">
        <div class="d-flex justify-content-between align-items-start">
            <p>{{question}}</p>
            <button class="btn image-btn">
                <img src="/images/question.png" alt="Button Image" />
            </button>
        </div>
        <textarea class="form-control"></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn skip-btn">Skip</button>
    </div>
</div>